
/* styles.css */
body {
	font-family: sans-serif;
	margin: 0;
	background-color: #0c1f66; /* Deep blue */
	color: #e4c17c; /* Gold tone */
  }
  
  header {
	background-color: #0c1f66;
	color: #e4c17c;
	padding: 1rem;
	text-align: center;
  }
  
  nav a {
	margin: 0 1rem;
	color: #e4c17c;
	text-decoration: none;
  }
  
  nav a:hover {
	text-decoration: underline;
  }
  
  main {
	padding: 2rem;
	text-align: center;
  }
  
  footer {
	background-color: #0c1f66;
	color: #e4c17c;
	text-align: center;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
  